{% include 'classe/serve.html.twig' %}
{# <script src="https://www.google.com/recaptcha/api.js" async defer></script> #}

<div style="margin-top: ;">
    {% block body %}
        <div style="text-align: center; margin-top: 20px;">
    <h1 style="font-size: 28px; color: #333; margin-bottom: 20px;">Ajouter une nouvelle Réclamation</h1>
</div>

        {{ include('reclamation/_forme.html.twig') }}

        {# Your existing form fields #}
      

      
    {% endblock %}
</div>
