{% include 'User/nav.html.twig' %}
    

<div class="container">


{% block body %}
    <h1 class= "text-centre">S'inscrire</h1>

    {{ include('user/_form.html.twig') }}
    <br>
   
{% endblock %}
</div>
